

body{
	background-color: #F5F5F5;
}
h1{
	font-weight: 700;
	font-size: 16px;
}
h2{
	font-size: 14px;
}
hr{
	border-top:1px solid #D7D7D7;
}
label{
	font-weight: 500;
}
nav{
	background-color: #fff;	
	padding: 5px;
}
nav h1{
	font-weight:500;
}
nav i{
	font-size: 12px;
}
/*-------Helper Classes--------*/
.no-padding{
	padding:0px !important;
}
.btn{
	transition: all 0.2s;
	border-radius: 0px;
}
.btn-addition{
	border: 2px solid #4A90E2;
	color: #4A90E2;
	background-color: #fff;
}
.btn-addition:hover{
	color: #fff;
	background-color: #4A90E2;
}

/*--------Box Styles-----------*/
.box{
	background-color: #fff;
	padding: 0 15px;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.14);
	width: 100%;
	margin-bottom: 18px;
	display: inline-block;
}
.box-heading{
	display: inline-block;
	width: 100%;
	padding: 12px 0;
}
.box-body form{
	padding: 10px 0;
}
.box-footer{
	display: inline-block;
	width: 100%;
	padding: 15px 0;
}
.box-footer-expandable{
	background-color: #fff;
	outline: none;
	border:0px;
}
.box-footer-expandable:hover{
	background-color: #deeaf7;
}
.box-title{
	margin:0px;
}
.box-info{
	padding:0px 10px;
	background-color: #F5F5F5;
	display: inline-block;
	width: 100%;
}
.expected-level{
	font-weight:600;
}



/*---------- Form Styles--------- */
.select-performance{
	width: auto;
}



/*----Summary Box-----*/
.submit-summary-container{
	width: 33.3%;
	float: left;
	padding-left: 15px;
    padding-right: 15px;
}
.submit-summary-fixed{
    position: fixed;
    right: 111px;
    top: 10px;
    width: 28%;

}
.submit-summary{
	padding:0 20px;
}
.summary-field{
	margin:5px 0;
}
.submit-summary small{
	color:#6E6E6E;
}
.submit-user{
	color:#1566C6; font-weight:500;
}
.submit-value{
	font-size: 13px; 
	font-weight: 600;
}
.submit-new-title{
	padding:10px;
	background-color: #E4F1D7;
	border:1px solid #B8E986;
	margin:10px 0;
}
.step-complete{
	color:#417505;
}
.step-complete:before{
		content:'\f00c';
	font-family:FontAwesome;
	left: 0px;
}
.step-notstarted{
	color:#9B9B9B;
}



/*-----------Breadcrumb------------*/
.breadcrumb{
	margin:20px 0;
	float: left;
}
.breadcrumb-link{
	text-decoration: none;
	outline: none;
	display: block;
	float: left;
	font-size: 11px;
	line-height: 24px;
	padding: 0 10px 0 21px;
	background: #C8C8C8;
	position: relative;
    transition: all 0.2s;
    margin-right: 16px;
    color:#fff;
}

.breadcrumb-link:after {
	content: '';
	position: absolute;
	top: 0; 
	right: -12px; /*half of square's length*/
	width: 24px; 
	height: 24px;
	transform: scale(0.707) rotate(45deg);
    -ms-transform:scale(0.707) rotate(45deg);
    -webkit-transform:scale(0.707) rotate(45deg);
	z-index: 1;
	background:#c8c8c8;
	border-radius: 0 5px 0 50px;
    transition: all 0.2s;
}

.breadcrumb-link:before {
	content: '';
	position: absolute;
	top: 0; 
	left: -12px; /*half of square's length*/
	width: 24px; 
	height: 24px;
	transform: scale(0.707) rotate(45deg);
    -ms-transform:scale(0.707) rotate(45deg);
    -webkit-transform:scale(0.707) rotate(45deg);
	z-index: 1;
	background: #F5F5F5;
	border-radius: 0 5px 0 50px;
    transition: all 0.2s;
}
.breadcrumb-link:first-child:before{
	display: none;

}
.breadcrumb-link:first-child{
	padding-left: 15px;;
}
.breadcrumb-link-active, .breadcrumb-link-active:after, .breadcrumb-link:hover, .breadcrumb-link:hover:after{
	background-color: #1566C6;
	color:#fff;
	text-decoration: none;
}





